*
  margin 0
  padding 0

// .el-icon-arrow-right:before
//   content ""

// .el-collapse
//   border-top 0

// .el-collapse-item__header
//   border-bottom 0

// .el-collapse-item__wrap
//   border-bottom 0

#wrapDiv
  .detail-card
    .el-card__body
      padding 0 0 0 16px

    .el-collapse-item__header
      height 72px
      border-bottom 0

    .el-collapse-item__arrow
      line-height: 72px

    .el-collapse-item__wrap
      border-bottom 0
